#crowImage {
    position: absolute; 
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: radial-gradient(#00c1b2 70%, #029a94);
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {
    body {
        background: radial-gradient(#00c1b2 80%, #029a94);
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background: radial-gradient(#00c1b2, #00c1b2);
    }
}